.row h1{
  text-align: center;
  color: rgba(181, 0, 255);
  font-family: cursive;
  font-size: 60px;
  text-shadow: 2px 2px 2px #000;
}
#indicador{
	margin: auto;
	margin-top: 40px;
  width: 220px;
  height: 80px;
  font-family: cursive;
  font-size: 25px;
}
.tabela{
  width: 252px;
  height: 252px;
  margin: auto;
}
.espaco{
  width:80px;
  height: 80px;
  border: 4px solid #252529;
  float: left;
  text-align: center;
  border-style: ridge;
  padding-top: 20px;
}
